.confirmation {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.confirmation h2 {
  font-size: 36px;
  color: #46467a;
  margin-bottom: 30px;
}

.pet-info {
  margin-bottom: 40px;
}

.pet-info img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.pet-info h3 {
  font-size: 28px;
  color: #46467a;
  margin-bottom: 10px;
}

.pet-info p {
  font-size: 20px;
  color: #46467a;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 20px;
  color: #46467a;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #46467a;
  border-radius: 10px;
  font-size: 18px;
  color: #46467a;
}

button[type="submit"] {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffc0cb;
  color: #46467a;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #46467a;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #46467a;
  color: #fff;
}
