.resources {
  margin-top: 200px;
  padding: 50px 0;
  background-color: #f5f5f5;
}

.resources-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.resources-title {
  display: grid;
  align-items: center;
  /* height: 30vh; */
  margin-bottom: 50px;
  background-color: #ffc0cb;
}

.resources-section h2 {
  font-size: 36px;
  color: #46467a;
  margin-bottom: 20px;
  text-align: center;
}

.resources-section p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  text-align: center;
}

.resource-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.resource-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resource-item h3 {
  font-size: 24px;
  color: #46467a;
  margin-bottom: 10px;
}

.resource-item p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.resource-item a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc0cb;
  color: #46467a;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.resource-item a:hover {
  background-color: #46467a;
  color: #fff;
}
